{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>specific_static</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1>This is Balaya</h1>
        <p>
            Nandamuru Balakrishna is an <mark>Southindian Hero</mark> 
        </p>
        <img src="{% static 'images/balaya.1.jpg' %}" alt="no image" srcset="">

    </center>
</body>
</html>